*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    padding: 0 2.5%;
}

/*Navigation Part*/
nav{
    background-color: purple;
    display: flex;
    justify-content: space-between;
    height: auto;
}
#logo{
    width: 30%;
}

nav ul{
    display: flex;
    width: 30%;
    list-style: none;
  justify-content: space-around;
  align-items: center;
}

nav ul a{
  color: white;  
  text-decoration: none;
}

/*Header Part */
header{
    background-image: url("../img/apple-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-end;
}

.buttons{
    margin-bottom: 5%;
    border: 1px solid red;
    width: 50%;
    display: flex;
    justify-content: center;
}

.btn{
    background-color: #869464;
    width: 200px;
    height: 44px;
    color: white;
    padding: 2.5%;
    margin: 2.5%;
justify-content: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 30px;
}

.btn:hover{
    background-color: white;
    color: #869464;
}



/*Main Part */
main{
    border: 1px solid red;
   
}

section{
    background-color:lightblue;
}
/*Footer Part */
footer{
    background-color: lightcyan;
    height: 10vh;
    display: flex;
    justify-content: center;
    margin-bottom: 2.5%;
}
.copyright{
    border: 1px solid red;
    width: 30%;
}

.icons{
    border: 1px solid green;
    width: 30%;
}

