*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Navigation Part*/
nav{
    background-color: purple;
    display: flex;
    justify-content: space-between;
}
#logo{
    width: 30%;
}

/*Header Part */
header{
    background-color: green;
}
/*Main Part */
main{
    border: 1px solid red;
}

section{
    background-color:lightblue;
}
/*Footer Part */
footer{
    background-color: lightcyan;
}
.copyright{
    border: 1px solid red;
}

.icons{
    border: 1px solid green;
}